.Header {
    width: 100%;
    display: flex;
    align-items: center;
}

.Header .search-container {
    width: 100%;
    position: relative;
    margin-left: 0;
    margin-right: 16px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.15);
}
.Header .search-container:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.Header .search-container>.search-icon{
    height: 100%;
    display: flex;
    padding: 0px 16px;
    position: absolute;
    align-items: center;
    pointer-events: none;
    justify-content: center;
}
.Header .search-container .MuiInputBase-root{
    width: 100%;
}

.Header .search-container input{
    width: 100%;
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 8px 8px 8px calc(1em + 32px);
    color:white;
}
